@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.Navigation{
    width: 90%;
    height: 60px;
    margin: 20px auto;
    font-weight: 600;
}
.Navigation h3{
    margin-left: 100px;
    color: #fff;
}
.Navigation .menu-nav{
    width: 50%;
    height: 100%;
}
.menu-nav .menu{
    list-style: none;
    display: flex;
    font-size: 25px;
    justify-content: space-evenly;
}
.menu li a{
    text-decoration: none; 
    color: white; 
    transition: 0.4;
}
.menu li a:hover{
    color: green;
    transition: 0.4;
}
.hero{
    width: 70%;
    height: 70vh;
    margin: 20px auto;
}
.caption{
    width: 40%;
    padding-top: 100px;
    line-height: 25px;
    color: #fff;
    transition: 0.4;
}
.caption h1:hover,
 p:hover{
    color: rgb(150, 203, 150);
    transition: 0.4;
}
.hero input{
    background-color: transparent;
    border: 2px solid green;
    color: rgb(250, 250, 250);
    border-radius: 10px;
    width: fit-content;
    height: 40px;
    transition: 0.4;
}
.hero input:hover{
    transition: 0.4;
    background-color: green;
}
.hero .img{
    
}
.img img{
    width: 400px;
    height: 400px;
    transition: all 0.5s ease;
}
.img img:hover{
    /* transition: 0.4; */
    transform: scale(1.04);
}


/* Contact page */
.label-input{   
    font-size: 1.2rem;
    font-weight: 500;
}
.focus-input{
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: gray;
    transition: outline 0.5s ease;
}
 input:focus{ 
    outline: 5px solid rgba(22, 22, 28, 0.4);  
    color: white;

}
.icon-contact{
    width: 25px;
    height: 25px;
    background-color: dodgerblue;
    border-radius: 5px;
    transition: all 0.5s ease;
}
a > i{
    color: white;
}
.icon-contact:hover {
    transform: scale(1.11);
    box-shadow: 0 0 5px rgba(255, 255, 255,0.5),
                0 0 5px rgba(255, 255, 255,0.5),
                0 0 5px rgba(255, 255, 255,0.5);
}






@media  (max-width: 576px){
   
}
@media  (max-width: 768){

}
@media (max-width:992px){
    .caption{
        width: 100%;
        margin-left: 5%;
    }
    .caption h1{
        font-size: 30px;
    }
    .img img{
        padding-top: 20px;
        width: 300px;
        height: 300px;
    }
}
@media (max-width:1200px){

}